<div my-4>
<h4>Add a todo</h4>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">TODO TITLE</label>
    <input type="text" [(ngModel)]="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="Description" id="desc">Description</label>
    <input [(ngModel)]="desc" type="text" class="form-control" id="desc" placeholder="Description">
  </div>

  <button type="submit" class="btn btn-primary">Add ToDo</button>
</form>
</div>
